<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.saviour">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:debuggable="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.Saviour"
        tools:ignore="HardcodedDebugMode">

        <activity
            android:name=".Main_Activity.Menu_View_Members.Edit_Members"
            android:exported="false" />
        <activity
            android:name=".Main_Activity.Menu_Rate_Us.Rate_Us"
            android:exported="true" />
        <activity
            android:name=".Main_Activity.Menu_View_Members.View_Members"
            android:exported="false" />
        <activity
            android:name=".Main_Activity.Menu_Edit_Sos_Message.Edit_Sos_Message"
            android:exported="false" />
        <activity
            android:name=".Main_Activity.Menu_Add_Members.Add_Number"
            android:exported="true" />
        <activity
            android:name=".Main_Activity.MainActivity"
            android:exported="true" />
        <activity
            android:name=".Main_Activity.Menu_Instruction.instructions"
            android:exported="true" >
        </activity>
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>